/* outermost design */
.modal {
    position: fixed;
    margin: auto auto;
    width: 88%;
    /* could only extend to 750px in a larger screen size */
    max-width: 760px;
    height: 30vw;
    min-height: 500px;
    /* deactivate the inherited properties */
    border-style: none;
    border-radius: 20px;
    box-shadow: 7px 5px 9px rgba(0, 0, 0, 0.50);
    animation: pop 0.5s;
}

/* Define the animation */
@keyframes pop {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.modal-box {
    display: flex; /* This will make the direct children of .modal-box line up in a row */
    height: 100%;
}

.modal-box .col1, .modal-box .col2 {
    border-radius: 0px;
    /* deactivate the inherited properties */
}

.modal-box .col1 {
    background: linear-gradient(to right, #9e09e3, #FFA500);
    height: 100%;
    flex: 1;
}

/* add vertical straight darker purple line */
.modal-box .col1::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 32%;
    border-right: 5px solid #ffffff;
    transform: translateX(-50%);
}

.modal-box .col2 {
    background-color: rgb(255, 255, 255);
    flex: 2;
    display: block;
}
/* End of the general structure design */


/* inner column 1 */
.modal-box .col1 img {
    position: relative;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 20px;
    width: 80%;
}


/* inner col2 */
/* X button */
.modal-box .col2 .row1{
    height: 10%;
}

/* Information display */
/* Disable this styling */
/* .modal-box .col2 .row2{
    height: 90%;
} */

.modal-box .col2 .row2 h2 {
    font-size: 1.38rem;
    font-weight: 800;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    color: #4F01B3;
}

.modal-box .col2 .row2 p {
    font-size:0.95rem;
    font-weight: 500;
    text-align: left;
    margin-left: 30px;
    margin-right: 8%;
}


/* Icon List */
.iconList {
    position: absolute;
    /* adjust together with .iconList ul li margin-left: 15px; */
    right: 20%;
    bottom: 5%;
    width: 20px;
}

.iconList ul {
    /* the parent container is a flex-container */
    display: flex;
    /* the child element is in row in the flex-container */
    flex-direction: row;
}

.iconList ul li {
    /* need to adjust with the .iconList right: 22%; */
    margin-left: 15px;
    font-size: 25px;
    font-weight: 700;
}

.iconList ul li a {
    color: grey;
}

.iconList ul li a:hover {
    transition: ease-in-out 0.3s;
    border-radius: 50px;
    background: linear-gradient(to right, #ae00ff, #FFA500);
    padding: 8px 6px 0px 5px;
    color: #ffffff;
}

/*  close button */
.buttonTeam {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: white;
    cursor: pointer;
}


/* Mobile View */
@media (max-width: 630px) {
    /* outermost design */
    .modal {
        position: fixed;
        margin: auto auto;
        width: 88%;
        /* could only extend to 750px in a larger screen size */
        max-width: 700px;
        height: 450px;
        /* deactivate the inherited properties */
        border-style: none;
        border-radius: 20px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);
    }

    .modal::-webkit-scrollbar {
        /* width of the scrollbar */
        width: 17px;
        padding-left: 1px;
        height: 15px;
      }

    .modal::-webkit-scrollbar-track {
        background: linear-gradient(to bottom, #ad10f6, #f39523);
        padding-left: 10px;
        border-radius: 0px 5px 5px 0px;
    }

    .modal::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius:20px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        margin: 4px;
    }
    
    .modal-box {
        display: flex; /* This will make the direct children of .modal-box line up in a row */
        flex-direction: column;
        height: 100%;
    }
    
    .modal-box .col1, .modal-box .col2 {
        border-radius: 0px; /* deactivate the inherited properties */   
    }
    
    .modal-box .col1 {
        background-color: #D66AF8;
        height: 10%;
        min-height: 146px;
        box-shadow: 10px 8px 10px rgba(0, 0, 0, 1);
    }
    
    /* Mobile: add horizontal straight darker purple line */
    .modal-box .col1::after {
        content: '';
        position: absolute;
        width: 200%;
        height: 4px;
        top: 27%;
        left: 0;
        background-color: white;
        z-index: 1; /* to be covered by the profile image with higher index(at the front) */
    }
    
    .modal-box .col2 {
        background-color: rgb(255, 255, 255);
        display: block;
    }
    /* End of the general structure design */
    
    
    .iconList {
        display: flex;
        position: relative;
        bottom: 0px;
        margin-left: 1.3vw;
        justify-content: center;
    }

    /* inner column 1 */
    .modal-box .col1 img {
        display: flex;
        position: relative;
        /* for the vertical position */
        top: 12px;
        left: 0px;
        /* Align centrally */
        margin-left: auto;
        margin-right: auto;
        
        /* size of profile picture */
        width: 150px;
        z-index: 10; /* to cover the horizontal line with lower index(at the back) */ 
    }
    
    
    /* inner col2 */
    /* X button */
    .modal-box .col2 .row1{
        height: 10%;
    }
    
    /* Information display */
    .modal-box .col2 .row2{
        /* margin-top: 30px; */
        margin-top: 4vw;
    }
    
    .modal-box .col2 .row2 h2 {
        font-size: 1.38rem;
        font-weight: 800;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
        color: #4F01B3;
    }
    
    .modal-box .col2 .row2 p {
        font-size:0.95rem;
        font-weight: 500;
        text-align: center;
        margin-left: 30px;
        margin-right: 8%;
    }
    
    
    /* Icon List */
    .iconList {
        display: flex;
        position: relative;
        bottom: 0px;
        left: 43%;
        justify-content: center;
    }
    
    
    .iconList ul li {
        /* need to adjust with the .iconList right: 22%; */
        margin-left: 15px;
        font-size: 25px;
        font-weight: 700;
    }
    
    .iconList ul li a {
        color: grey;
    }
    
    /*  close button */
    .buttonTeam {
        position: absolute;
        top: 5px;
        right: 8px;
        width: 40px;
        height: 30px;
        border-radius: 40px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);
        background-color: #ffffff;
        border: rgb(157, 157, 157) 6px;
        color: rgb(60, 60, 60);
        cursor: pointer;
    }

    .buttonTeam:hover {
        position: absolute;
        transition: ease-in-out 0.1s; 
        top: 5px;
        right: 8px;
        width: 40px;
        height: 30px;
        border-radius: 40px;
        box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.50);
        background-color: #a4a4a4b8;
        border: rgb(157, 157, 157) 6px;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
}