/* Start of the Meet Team */
.sci li:nth-child(1) {
    --i: 1;
}

.sci li:nth-child(2) {
    --i: 2;
}

.sci li:nth-child(3) {
    --i: 3;
}

.wrapper .title{
    text-align: center;
}

.title h3{
    display: inline-block;
    padding: 20px 45px;
    color: #585757;
    /* font-size: 50px;
    font-weight: 500; */
    font-size: 35.2px;
    font-weight: 700;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /* text-transform: uppercase; */
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.title h3 span{
    background: linear-gradient(to right, #ae00ff, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper .card_Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0 70px;
}

.card_Container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
                inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_Container .card:hover {
    cursor: pointer;
}

.card .imbBx, .imbBx img{
    width: 100%;
    height: 100%;
}

.card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.65s;
}

.card:hover .content{
    bottom: 0;
    transition-delay: 0s;
}

.content .contentBx h3{
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contentBx h3{
    opacity: 1;
    transform: translateY(0);
}

.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.card:hover .content .sci li{
    transform: translateY(0);
    opacity: 1;
}

.content .sci li a{
    color: #fff;
    font-size: 24px;
}
/* End of the Meet Team */


/* Start of group photo */
.groupPhoto {
    position: relative;
    width: 100%;
}

.groupPhoto img {
    width: 100%;
    height: 100%;
    max-height: 575px;
    object-fit: contain;
}

.groupPhoto .overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
    color: #ffffff;
    font-size: 20px;
    background-color: rgba(52, 52, 52, 0.422);
    z-index: 1;
}

.overlay p {
    /* margin-top adjusted according to the width of the screen */
    margin-top: 30px;
    margin-left: 25px;
    color: #FFF;
    text-shadow: 8px 6px 4px rgba(0, 0, 0, 0.50);
    font-family: "Roboto", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 45px */
    transform: scaleX(0.9);
}

.overlay p span {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-style: italic;
    font-weight: 100;
    line-height: 125%;
}

@media (min-width: 920px){
    .overlay p {
        /* margin-top adjusted according to the width of the screen */
        margin-top: 40px;
        margin-left: 80px;
        color: #FFF;
        text-shadow: 8px 6px 4px rgba(0, 0, 0, 0.50);
        font-family: "Roboto", sans-serif;
        font-size: 220%;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 45px */
        transform: scaleX(1.0);
    }
    
    .overlay p span {
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
        font-style: italic;
        font-weight: 100;
        line-height: 125%;
    }
}

.rise {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s 1.4s, transform 0.5s 1.4s;
}
/* End of group photo */