.product {
    background: var(--second-bg-color);
    padding: 0 3rem 5rem;
}
.product .heading {
    color: var(--text-color);
    margin-bottom: 4rem;
    font-size: 2.5rem;
    padding-top: 2.5rem;
}
.product .heading span {
    background: linear-gradient(to right, #ae00ff, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product h4{
    color: var(--text-color);
    text-shadow: 0 0 1rem var(--bg-color);
}

.product p {
    font-size: 1.1rem;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.product-container .product-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    /* the box images has exceeded the grid set by the container, hence the exceeding parts are hidden, thus showing only the shape outline we see */
    overflow: hidden;
    /* this set the box as the flex-container, and the elements within it such as text is displayed horizontally by default, thus they are hidden by overflow: hidden */
    display: flex;       
}

.product-box img {
    /* the image takes up 100% of the flex/grid box */
    width: 100%;
    transition: .5s ease; 
}

.product-box:hover img {
    transform: scale(1.1);
}

.product-box .product-layer {
    position: absolute;
    bottom: 0;
    /* decide how long the layer is in the box */
    left: -33px;
    width: 120%;
    height: 100%;
    background: linear-gradient(rgba(255, 165, 0, .2), #a405ee);
    display: flex;
    justify-content: center;
    align-items: center;
    /* control the lay-out direction of flexible items */
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.product-box:hover .product-layer {
    transform: translateY(0);
}

.product-layer h4 {
    font-size: 30px;
}

.product-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.product-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* responsive */
@media (min-width: 701px) and (max-width: 1200px) {
    .product h2 {
        margin-bottom: 3rem;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-container .product-box {
        width: 95%;
        justify-self: center;
    }
}

@media (max-width: 700px) {
    .product h2 {
        margin-bottom: 2rem;
    }

    .product-container {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 8%;
    }
    .product-container .product-box {
        width: 80%;
        min-width: 100%;
        justify-self: center;
    }
}