.splash-section {
    padding-top: 10px;
    margin-bottom: 30px;
}

.splash-section video {
    object-fit: contain;
    width: 100%;
}

@media (min-width: 1195px) {
    .splash-section video {
        object-fit: cover;
        width: 100%;
        height: 640px;
    }
}