.splash-section {
    padding-top: 10px;
    margin-bottom: 30px;
}

.splash-section img {
    object-fit: cover;
    width: 100%;
    height: 550px;
}

/* Define a keyframes animation named slideIn */
@keyframes slideIn {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(0); /* End at the original position */
    }
}

